# Compiler files
cache/
out/
lcov.info

# Ignores development broadcast logs
broadcast/
ai_conversations/
beaconProofVerifier/
snapshots/

# Docs
docs/
TODO
TODO.md
answers_for_audit.txt
changes_since_last_quote.md
report_responses.pdf
audit/

# Node dependencies (solhint lint tooling)
node_modules/

# Dotenv file
.env
.vercel

# VS Code
.vscode

.gitignore

script/CreateCofferMainnet.s.sol
script/DeployCofferFactoryMainnet.s.sol

