# Compiler files
cache/
out/
lcov.info

# Ignores development broadcast logs
broadcast/
ai_conversations/
beaconProofVerifier/
snapshots/

# Docs
docs/
TODO

# Dotenv file
.env
.vercel

# VS Code
.vscode

